requests>=2.31.0
openai>=1.14.2
langchain>=0.1.14
python-dotenv>=1.0.1
streamlit>=1.32.2
transformers>=4.39.3
datasets>=2.19.0
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
torch>=2.2.1
soundfile>=0.12.1
numpy>=1.26.4
sounddevice>=0.4.6
python-multipart>=0.0.9
cffi>=1.16.0
pyaudio
scipy
